<h3> Data Types </h3>

<li>Numbers - int, float, complex</li>
<li>String - 'single quote', "double quote", """triple quote or document string"""</li>
<li>List</li>
<li>Tuple</li>
<li>Dict</li>
<li>Set</li>
<li>Frozenset</li>
<li>Boolean</li>

# 1. Numbers

In [1]:
# int

dir(int) ## get directory of int

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [2]:
# double under score method known as magic mathods??

# if I add two numbers

a = -5
b = 6

print( a + b )

print( a.__add__(b) )

1
1

In [3]:
print( b.__add__(a) )

1

In [4]:
print(-5 + 6)
print(-6 + 5)

1
-1

In [7]:
a.numerator

-5

In [9]:
b.denominator

1

## 2. String

In [5]:
dir( str )

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
# Capitalize() convert a string's first letter to capital.

st = "hello, this is python string."

In [7]:
print(st)

hello, this is python string.

In [8]:
st.capitalize()

'Hello, this is python string.'

In [9]:
# casefold() coverts entire string to lowercase.

st = "Hello, This is PYTHON string."

print(st)

Hello, This is PYTHON string.

In [15]:
st.casefold()

'hello, this is python string.'

In [16]:
st

'Hello, This is PYTHON string.'

In [17]:
st.lower()

'hello, this is python string.'

In [10]:
st = st.lower()

In [11]:
st

'hello, this is python string.'

In [12]:
st1 = st.capitalize()

In [13]:
st1

'Hello, this is python string.'

In [14]:
# center(number) centralize the string.

st.center(100)

'                                   hello, this is python string.                                    '

In [15]:
# ljust(numbe) justify the string to left.

st.ljust(100)

'hello, this is python string.                                                                       '

In [16]:
# rjust(number) justify the string to right.

st.rjust(100)

'                                                                       hello, this is python string.'

In [17]:
st.ljust(50)

'hello, this is python string.                     '

In [18]:
# count(item) - Count the occurance of specific letter or words in entire string.

st.count('h')

3

In [20]:
st.count('hello')

1

In [21]:
# encode() - encode the string

st.encode()

b'hello, this is python string.'

In [22]:
# endswith(item) - Returns True if string ends with given letter as argument.

st.endswith('g')

False

In [23]:
st.endswith('.')

True

In [24]:
# startswith(item) - Returns True if string starts with given letter as argument.

st.startswith('e')

False

In [25]:
st.startswith('h')

True

In [26]:
# find(item) - Returns index number if specific letter or word found which given as argument.

st.find('hello')

0

In [27]:
st.find('py')

15

In [28]:
# expandtabs() - Replace \t as actual spaces inside the string.

exp = 'Hello, how are\t you.'

exp

'Hello, how are\t you.'

In [29]:
exp.expandtabs()

'Hello, how are   you.'

In [30]:
# index(item) - Find index number of specific letter or word.

st.index('p')

15

In [31]:
# isalnum() - Returns True if string is alphabate or numerical.
al = 'abc123'

al.isalnum()

True

In [32]:
al2 = 'abc'

al.isalnum()

True

In [33]:
# isalpha() - Returns True if entire string is in form of alphabatical

al.isalpha()

False

In [34]:
al2.isalpha()

True

In [35]:
# isnumeric() - Returns True if entire string is in form of numerical

al.isnumeric()

False

In [36]:
al2.isnumeric()

False

In [37]:
al3 = "654646"

al3.isnumeric()

True

In [38]:
# isdigit() - Returns True if entire string like a digits

al.isdigit()

False

In [39]:
al3.isdigit()

True

In [40]:
'2'.isdigit()

True

In [41]:
# isidentifier() - Returns True if entire string follows identifier's rule, identifiers should not be starts with any number, special characters (here, only underscore allowed), no white spaces allowed.

st.isidentifier()

False

In [42]:
st

'hello, this is python string.'

In [43]:
al.isidentifier()

True

In [44]:
'_hello_123'.isidentifier()

True

In [46]:
'hello 123'.isidentifier()

False

In [47]:
# isdecimal() - Returns True if entire string is like decimal value

al.isdecimal()

False

In [48]:
al2.isdecimal()

False

In [49]:
al3.isdecimal()

True

In [50]:
al3

'654646'

In [51]:
# isascii() - Returns True if entire string based on Ascii code

st.isascii()

True

In [52]:
st

'hello, this is python string.'

In [53]:
st.encode().isascii()

True

In [54]:
# isspace() - Returns True if entire string is space

st.isspace()

False

In [55]:
' '.isspace()

True

In [56]:
# islower() - Returns True if entire string in lowercase

st.islower()

True

In [57]:
'Acdef'.islower()

False

In [58]:
# title() - Converts each word's first letter to capital

st.title()

'Hello, This Is Python String.'

In [59]:
# istitle() - Returns True if entire string in title form

'Hello How Are You'.istitle()

True

In [60]:
# upper() - Converts entire string in to uppercase

st.upper()

'HELLO, THIS IS PYTHON STRING.'

In [61]:
# isupper() - Returns True if entire string is uppercase

'HELLO HOW ARE YOU'.isupper()

True

In [62]:
# rindex(item) - Returns the index number of a specific letter or word from right.

st.rindex('i')

25

In [63]:
# lstrip() - remove spaces from left of the string

st = ' this is unmanaged string       '

st.lstrip()

'this is unmanaged string       '

In [64]:
# strip() - remove the white spaces from left and right of the string

st.strip()

'this is unmanaged string'

In [65]:
# rstrip() - remove spaces from right of the string

st.rstrip()

' this is unmanaged string'

In [66]:
# partition(item) - partition from given item as argument and returns a tuple

st = 'this is string. this is python string.'

st.partition('is')

('th', 'is', ' is string. this is python string.')

In [67]:
# rpartition(item) - partition from right side.

st.rpartition('is')

('this is string. this ', 'is', ' python string.')

In [68]:
# replace(what, with) - Replace specified or common letter/words with another

st.replace('python', 'same as any other programming string')

'this is string. this is same as any other programming string string.'

In [69]:
# split() - default argument is space.
# split(item) - breaks from given item as an argument and return the list.

st.split()

['this', 'is', 'string.', 'this', 'is', 'python', 'string.']

In [70]:
st.split('python')

['this is string. this is ', ' string.']

In [71]:
# rsplit(item)

st.rsplit('py')

['this is string. this is ', 'thon string.']

In [72]:
# swapcase() - Converts lower cases to upper and upper to lower
t = st.title()
print(t)
t.swapcase()

This Is String. This Is Python String.

'tHIS iS sTRING. tHIS iS pYTHON sTRING.'

In [73]:
# splitlines(keeplinebreak) - breaks lines if found \n in entire string and returns a list
sp = 'this is\n splitline string and default argument is\n line break.'

sp.splitlines()

['this is', ' splitline string and default argument is', ' line break.']

In [74]:
# rfind(item) - Find a specific letter or word from right in entire string and returns its index number.

st.rfind('i')

34

In [75]:
# zfill(num) fill the string with zeros from left

a = '50'
b = '50000'

a.zfill(5)

'00050'

## 3. List

In [1]:
mylist = [1,2,3,'a','b','c']

In [2]:
type(mylist)

list

In [3]:
print( dir(mylist) )

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [4]:
# appdend(item) - add new item in list at the end

print(mylist)

[1, 2, 3, 'a', 'b', 'c']

In [5]:
mylist.append(4)

In [6]:
mylist

[1, 2, 3, 'a', 'b', 'c', 4]

In [7]:
# count(item) - count the occurance of specific item in list

mylist.count('a')

1

In [8]:
# extend(item or list or iterable type of data) - add number of items in one time

mylist.extend(['d','e','f'])

In [9]:
mylist

[1, 2, 3, 'a', 'b', 'c', 4, 'd', 'e', 'f']

In [10]:
mylist.extend('hello')

In [11]:
mylist

[1, 2, 3, 'a', 'b', 'c', 4, 'd', 'e', 'f', 'h', 'e', 'l', 'l', 'o']

In [12]:
mylist.extend(['hello','hi'])

In [13]:
mylist

[1,
 2,
 3,
 'a',
 'b',
 'c',
 4,
 'd',
 'e',
 'f',
 'h',
 'e',
 'l',
 'l',
 'o',
 'hello',
 'hi']

In [14]:
# index(item) - get the index number of specific item

mylist.index('hello')

15

In [16]:
# insert(index,item) - insert an item specified poslition in the list

mylist.insert(15, 'python')

In [17]:
mylist

[1,
 2,
 3,
 'a',
 'b',
 'c',
 4,
 'd',
 'e',
 'f',
 'h',
 'e',
 'l',
 'l',
 'o',
 'python',
 'hello',
 'hi']

In [18]:
mylist.index('hello')

16

In [19]:
# pop() - remove an item from the end of list - by default

mylist.pop()

'hi'

In [20]:
print(mylist)

[1, 2, 3, 'a', 'b', 'c', 4, 'd', 'e', 'f', 'h', 'e', 'l', 'l', 'o', 'python', 'hello']

In [21]:
mylist.pop(16)

'hello'

In [22]:
# remove(item) - remove specified item from the list

mylist.remove('python')

In [23]:
print(mylist)

[1, 2, 3, 'a', 'b', 'c', 4, 'd', 'e', 'f', 'h', 'e', 'l', 'l', 'o']

In [24]:
# reverse() - reverse the list

mylist.reverse()

In [25]:
print(mylist)

['o', 'l', 'l', 'e', 'h', 'f', 'e', 'd', 4, 'c', 'b', 'a', 3, 2, 1]

In [26]:
mylist.reverse()

In [27]:
print(mylist)

[1, 2, 3, 'a', 'b', 'c', 4, 'd', 'e', 'f', 'h', 'e', 'l', 'l', 'o']

In [28]:
# sort() / sort(reverse=True)

a = [5,8,9,1,0,3,5,1]

a.sort()

In [29]:
print(a)

[0, 1, 1, 3, 5, 5, 8, 9]

In [30]:
b = [7,9,8,1,0,8]

b.sort(reverse=True)

print(b)

[9, 8, 8, 7, 1, 0]

In [31]:
c = b

In [32]:
c

[9, 8, 8, 7, 1, 0]

In [33]:
b.remove(0)

In [34]:
b

[9, 8, 8, 7, 1]

In [35]:
c

[9, 8, 8, 7, 1]

In [36]:
id(b)

2038264674376

In [37]:
id(c)

2038264674376

In [38]:
# copy() - copy any data type to differnt memory location

d = b.copy()

In [39]:
d

[9, 8, 8, 7, 1]

In [40]:
b.remove(1)

In [41]:
b

[9, 8, 8, 7]

In [42]:
c

[9, 8, 8, 7]

In [43]:
d

[9, 8, 8, 7, 1]

In [44]:
c

[9, 8, 8, 7]

In [45]:
c.clear()

In [46]:
c

[]

In [47]:
b

[]

In [48]:
d

[9, 8, 8, 7, 1]

### 4. Tuple

In [1]:
t = (1,2,3,4,5,6)

In [2]:
type(t)

tuple

In [3]:
t1 = (1)

In [4]:
type(t1)

int

In [5]:
t1 = (1,)

In [6]:
type(t1)

tuple

In [7]:
print( dir(tuple) )

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [8]:
t.index(3)

2

### 4. Dict

In [9]:
print( dir(dict) )

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [10]:
d = {
    'name' : 'Hitesh',
    'age' : 40,
    'city' : 'Ahm',
    'state' : 'GJ'
}

In [11]:
type(d)

dict

In [12]:
# fromkeys(iterable data, values default)

l = ['a','b','c']

d.fromkeys(l)

{'a': None, 'b': None, 'c': None}

In [13]:
d.fromkeys(l, 'xyz')

{'a': 'xyz', 'b': 'xyz', 'c': 'xyz'}

In [14]:
l

['a', 'b', 'c']

In [15]:
d

{'name': 'Hitesh', 'age': 40, 'city': 'Ahm', 'state': 'GJ'}

In [16]:
# get(key)

d.get('name')

'Hitesh'

In [17]:
l[1]

'b'

In [18]:
d['name']

'Hitesh'

In [19]:
# items()

d.items()

dict_items([('name', 'Hitesh'), ('age', 40), ('city', 'Ahm'), ('state', 'GJ')])

In [20]:
# keys()

d.keys()

dict_keys(['name', 'age', 'city', 'state'])

In [21]:
# values()

d.values()

dict_values(['Hitesh', 40, 'Ahm', 'GJ'])

In [22]:
# pop(item)

d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [23]:
d.pop('city')

'Ahm'

In [24]:
d

{'name': 'Hitesh', 'age': 40, 'state': 'GJ'}

In [25]:
# popitem()

d.popitem()

('state', 'GJ')

In [26]:
# setdefault(keys, value)

d.setdefault('city','ahm')

'ahm'

In [27]:
d

{'name': 'Hitesh', 'age': 40, 'city': 'ahm'}

In [30]:
d.setdefault('K', l )

['a', 'b', 'c']

In [31]:
d

{'name': 'Hitesh', 'age': 40, 'city': 'ahm', 'K': ['a', 'b', 'c']}

In [34]:
# update(dict_set)

d.update( {'state': 'GJ', 'country': 'IN'} )

In [35]:
d

{'name': 'Hitesh',
 'age': 40,
 'city': 'ahm',
 'K': ['a', 'b', 'c'],
 'state': 'GJ',
 'country': 'IN'}

In [36]:
d['K'] = 'abc'

In [37]:
d

{'name': 'Hitesh',
 'age': 40,
 'city': 'ahm',
 'K': 'abc',
 'state': 'GJ',
 'country': 'IN'}

In [38]:
d['name'] = 'Hello'

In [39]:
d

{'name': 'Hello',
 'age': 40,
 'city': 'ahm',
 'K': 'abc',
 'state': 'GJ',
 'country': 'IN'}

In [40]:
d['New'] = "ADKJAYDFLADJF"

In [41]:
d

{'name': 'Hello',
 'age': 40,
 'city': 'ahm',
 'K': 'abc',
 'state': 'GJ',
 'country': 'IN',
 'New': 'ADKJAYDFLADJF'}

### 5. Set

In [42]:
print( dir(set) )

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [43]:
s = { 1, 2, 3, 4, 5, 6, 5 }

In [44]:
type(s)

set

In [45]:
s1 = {5,6,8,98,5}

In [46]:
s.add(5)

In [47]:
s

{1, 2, 3, 4, 5, 6}

In [49]:
s1

{5, 6, 8, 98}

In [50]:
# difference(another_set)

s.difference(s1)

{1, 2, 3, 4}

In [51]:
# difference_update(another_set)

s.difference_update(s1)

In [52]:
s

{1, 2, 3, 4}

In [53]:
# discard(item)

s.discard(4)

In [54]:
s

{1, 2, 3}

In [55]:
# isdisjoint(another_set)

s.isdisjoint(s1)

True

In [56]:
s.isdisjoint({2,3,4,6})

False

In [57]:
# issubset(another_set)

s.issubset(s1)

False

In [58]:
s.issubset( {1,2} )

False

In [59]:
s.issubset( {1} )

False

In [63]:
s.issubset( {1,2,3,4,5,6,7,8,9} )

True

In [64]:
# issuperset(another_set)

{1,2,3,4,5,6,7,8,9}.issuperset(s)

True

In [65]:
# pop()

s = {1,2,3,4,5,6,7,8,9}

In [66]:
s.pop()

1

In [67]:
s.pop()

2

In [68]:
# remove(item)

s.remove(3)

In [69]:
s

{4, 5, 6, 7, 8, 9}

In [70]:
# symmetric_difference(another_set)

s.symmetric_difference(s1)

{4, 7, 9, 98}

In [71]:
s1

{5, 6, 8, 98}

In [72]:
s

{4, 5, 6, 7, 8, 9}

In [73]:
# symmetric_difference_update(another_set)

s.symmetric_difference_update(s1)

In [74]:
s

{4, 7, 9, 98}

In [75]:
s1

{5, 6, 8, 98}

In [76]:
# union(another_set)

s.union(s1)

{4, 5, 6, 7, 8, 9, 98}

In [77]:
s

{4, 7, 9, 98}

In [78]:
s.update( {1,2,3} )

In [79]:
s

{1, 2, 3, 4, 7, 9, 98}

### 5. Boolean

In [80]:
# True and False should be capitalize

print(True, False)

True False