## Conditional Statements

* if ___ else
* if ____ elif ____ else

In [1]:
a = 5
b = 6

if a == b:
    print(a)

In [2]:
if a == b:
    print(a)
else:
    print(b)

6

In [3]:
if a == b:
    print(a)
elif a < b:
    print(a, b)

5 6

In [4]:
if a == b:
    print(a)
else:
    if a < b:
        print(a, b)

5 6

In [5]:
if []:
    print(True)
else:
    print(False)

False

In [6]:
if a != b:
    print(b)
else:
    print(a)

6

In [14]:
p = "0002560089"

num = input('Enter your key: ')

if p[4:6] == num:
    print( f"You entered correct key: {num}" )
else:
    print("Invalid key!! Please try again.")

Enter your key: 56
You entered correct key: 56

In [15]:
p[4:6]

'56'

In [18]:
data = {
        "title" : "Web Design",
        "icon" : "web-des.webp",
        "inner" : '0.webp',
        "cover" : 'web-des-tech.webp',
        "text" : "Our team supports software development architecture organization outlines eye-getting & familiar online interfaces. Our tremendous staff doing an excellent work and make the sites easy-to use."
    }

key = input('Enter data key: ')

if data[key]:
    print(data[key])
else:
    print(f'no such data {key} found.')

Enter data key: text
Our team supports software development architecture organization outlines eye-getting & familiar online interfaces. Our tremendous staff doing an excellent work and make the sites easy-to use.

In [21]:
inp = input('Enter data name: ')

if data[inp]:
    if len( data[inp] ) > 100:
        print( data[inp].center(100) )
    else:
        print(data[inp])
else:
    print(f'no such data {inp} found.')

Enter data name: text
Our team supports software development architecture organization outlines eye-getting & familiar online interfaces. Our tremendous staff doing an excellent work and make the sites easy-to use.

In [20]:
data['text'].split()

['Our',
 'team',
 'supports',
 'software',
 'development',
 'architecture',
 'organization',
 'outlines',
 'eye-getting',
 '&',
 'familiar',
 'online',
 'interfaces.',
 'Our',
 'tremendous',
 'staff',
 'doing',
 'an',
 'excellent',
 'work',
 'and',
 'make',
 'the',
 'sites',
 'easy-to',
 'use.']

In [23]:
inp = input('Enter data name: ')
d = data[inp].split()

if data[inp]:
    if len( d ) > 10:
        print( ' '.join( d[:9] ) + '... view more' )
    else:
        print(data[inp])
else:
    print(f'no such data {inp} found.')

Enter data name: text
Our team supports software development architecture organization outlines eye-getting... view more

In [25]:
inp = input('Enter data name: ')

if inp in data :
    d = data[inp].split()
    if len( d ) > 10:  # this condition will check length of data dynamicly always 
        print( ' '.join(d[:9]) + '... view more' )
    else:
        print(data[inp])
else:
    print(f'no such data {inp} found.')

Enter data name: text
Our team supports software development architecture organization outlines eye-getting... view more

In [26]:
inp = input('Enter data name: ')

if inp in data :
    d = data[inp].split()
    if inp is 'text':
        print( ' '.join(d[:9]) + '... view more' )
    else:
        print(data[inp])
else:
    print(f'no such data {inp} found.')

Enter data name: text
Our team supports software development architecture organization outlines eye-getting & familiar online interfaces. Our tremendous staff doing an excellent work and make the sites easy-to use.

In [27]:
main = {
    'name' : 'trupi patel',
    'age' : 32,
    'city' : 'Ahmedabad',
    'state' : 'Gurajat',
    'prof' : 'Employee'
}

In [42]:
inp = input('Enter item to remove: ')
t = ''
if inp in main:
    d = main.pop(inp)
    t.update( {inp : d} )

Enter item to remove:

In [43]:
main

{'name': 'trupi patel', 'age': 32, 'city': 'Ahmedabad'}

In [46]:
inp = input("enter your information: ")

f_inp = dict( {inp.split(':')[0] : inp.split(':')[1]} )

enter your information: name:trupti

In [47]:
f_inp

{'name': 'trupti'}

In [48]:
inp = input('Enter multiple data saperated by comma: ')

print( inp.split(',') )

Enter multiple data saperated by comma: 1,2,3,5,6,hello,hi,how,are,you
['1', '2', '3', '5', '6', 'hello', 'hi', 'how', 'are', 'you']

In [49]:
inp = input('Enter multiple data saperate by comma: ')

inp2 = input('Which type of data do you want: list, tuple and set?? Please select.')

f_inp = inp.split(',')

t = 0

if inp2 == 'tuple':
    t = tuple( f_inp )
elif inp2 == 'set':
    t = set( f_inp )
elif inp2 == 'list':
    t = f_inp
else:
    print('wrong!!')
    
print(t)
print(type(t))

Enter multiple data saperate by comma: 1,2,3,4,5,6,8,hello,hi,are,you
Which type of data do you want: list, tuple and set?? Please select.set
{'5', 'are', '8', '3', '6', 'hello', 'you', '2', '1', '4', 'hi'}
<class 'set'>