# Data Types

* ## 1. Numbers
* ## 2. String
* ## 3. List
* ## 4. Tuple
* ## 5. Dictionary
* ## 6. Set
* ## 7. Frozen Set
* ## 8. Boolean

## Numbers

* ### integer -- 0-9 everything is number
* ### float -- 1.9, 1.0 etc..
* ### complex -- 1 + 1j

## integer

In [1]:
print( dir(int) )

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [2]:
a = 8
a.bit_length()

4

In [3]:
comp = 1 + 1j

In [4]:
type( a )

int

In [5]:
type( comp )

complex

In [6]:
comp.real

1.0

In [8]:
comp.imag

1.0

In [7]:
a.numerator

8

In [8]:
a.denominator

1

## Strings

In [1]:
# 'single quote', "double quote", """ triple quoted / multiline string """, ''' triple with single quote '''

print( dir(str) )

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [3]:
# print() function

print( "Hello", "World", 'Hello', "world")

print( "Hello", "World", 'Hello', "world", sep="\n", end=" * ")

print( "Hello", "World", 'Hello', "world")

Hello World Hello world
Hello
World
Hello
world * Hello World Hello world

In [4]:
# To check documentation, use __doc__

print(str.__doc__)

str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

In [5]:
# help() - for help
# help( str )

help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [6]:
# capitalize() - change first letter to capital

name = 'trupti'

In [7]:
name

'trupti'

In [8]:
print(name)

trupti

In [9]:
name.capitalize()

'Trupti'

In [10]:
name = name.capitalize()

In [11]:
print(name)

Trupti

In [12]:
# casefold() - change whole string to small

name = name.casefold()

In [13]:
print(name)

trupti

In [14]:
# lower() - change whole string to small

name = name.capitalize()

In [15]:
name

'Trupti'

In [16]:
name = name.lower()

In [17]:
name

'trupti'

In [18]:
# center(num) - center the string from both side left and right

name.center(100)

'                                               trupti                                               '

In [19]:
# ljust(num) justified the string to left

name.ljust(100)

'trupti                                                                                              '

In [20]:
# rjust(num) justified the string to right

name.rjust(100)

'                                                                                              trupti'

In [21]:
# count(item) - count the specific substring/single letter etc.. and return the total occurance of that

name.count('t')

2

In [22]:
name.encode()

b'trupti'

In [23]:
# endswith(str) - check the ending values and returns True or False

name.endswith('o')

False

In [24]:
name.endswith('i')

True

In [25]:
# startswith(str) - check the first value of the string and returns True or False

name.startswith('a')

False

In [26]:
name.startswith('t')

True

In [27]:
# expandtabs() - replace \t with actual spaces according single tab

my_string = "Hello,\tHow are you?"

my_string

'Hello,\tHow are you?'

In [28]:
print(my_string)

Hello,	How are you?

In [29]:
my_string.expandtabs()

'Hello,  How are you?'

In [31]:
my_string = my_string.expandtabs()

In [32]:
my_string

'Hello,  How are you?'

In [33]:
# find(str) - find the specific string given in argument and returns index value

name.find('ti')

4

In [34]:
name.find(' ')

-1

In [35]:
my_string.find(' ')

6

In [36]:
name

'trupti'

In [37]:
# format(arg) or format(*arg)

print( "Hello, this is {name}." )

Hello, this is {name}.

In [38]:
print( f"Hello, this is {name}." )

Hello, this is trupti.

In [39]:
sname = "patel"

print("Hello, my first name is {} and last name is {}.".format(name, sname))

Hello, my first name is trupti and last name is patel.

In [40]:
print("Hello, this is {1} {0}.".format(name, sname))

Hello, this is patel trupti.

In [41]:
# index(item) - returns the index value of given item

name.index('a')

ValueError: substring not found

In [42]:
name.index('t')

0

In [43]:
# rindex(item)

name.rindex('t')

4

In [44]:
# isalnum() - returns True or False if found any alphabate or numbers in the string

al_num = 'trupti12345687'

al_num.isalnum()

True

In [45]:
name.isalnum()

True

In [46]:
num = "889445"

num.isalnum()

True

In [47]:
# isalpha() - check the string and returns True or False if entire string is aphabate

al = 'trupti12365'

al.isalpha()

False

In [48]:
name.isalpha()

True

In [49]:
asc = '65'

asc.isascii()

True

In [50]:
chr(65)

'A'

In [51]:
ord('a')

97

In [52]:
# isdecimal() - check weather string decimal or not

num = '65.5'

num.isdecimal()

False

In [53]:
num = '65'

num.isdecimal()

True

In [54]:
# isdigit()

num.isdigit()

True

In [55]:
num = '5'

num.isdigit()

True

In [56]:
# isidentifier()

num.isidentifier()

False

In [57]:
'first name'.isidentifier()

False

In [58]:
'first_n'.isidentifier()

True

In [59]:
'0first_name'.isidentifier()

False

In [60]:
name

'trupti'

In [61]:
# islower() - check the entire string weather it is in lowercase or not

name.islower()

True

In [63]:
'hLlo'.lower().islower()

True

In [64]:
# isnumeric() - check entire string weather it is numeric or not

'85abc'.isnumeric()

False

In [65]:
'88'.isnumeric()

True

In [66]:
# isprintable()

name.isprintable()

True

In [67]:
# isspace() - check the entire string and return True if whole string is space otherwise returns False

name.isspace()

False

In [68]:
' '.isspace()

True

In [69]:
# title() - converts entire string's first letter to capital

name.title()

'Trupti'

In [70]:
'this is a title'.title()

'This Is A Title'

In [72]:
# istitle() - check entire string weather each word capitalize or not

name.istitle()

False

In [73]:
'hello hi'.istitle()

False

In [74]:
'This Is A Title'.istitle()

True

In [75]:
# upper() - converts all letter to capital in string

name.upper()

'TRUPTI'

In [76]:
# isupper() - check entire string and returns True or False if string is in UPPERCASE

name.isupper()

False

In [77]:
'TRUPTI'.isupper()

True

In [78]:
# join( iterable ) - join any iterable items with specifice item/string/comma etc.

a = ','

a.join( name )

't,r,u,p,t,i'

In [79]:
# strip() - remove the white spaces from left and right of the string

ab = '   hello this is python string       '

ab.strip()

'hello this is python string'

In [80]:
# lstrip() - remove spaces from left of the string

ab.lstrip()

'hello this is python string       '

In [81]:
# rstrip() - remove spaces from right of the string

ab.rstrip()

'   hello this is python string'

In [82]:
# partition(item) - partition from given item as argument and returns a tuple

ab = 'this is string. this is python string.'

ab.partition('is')

('th', 'is', ' is string. this is python string.')

In [83]:
# rpartition(item) - partition from right.

ab.rpartition('is')

('this is string. this ', 'is', ' python string.')

In [84]:
# split(item) - devide from given item as argument and return the list.

ab.split('is')

['th', ' ', ' string. th', ' ', ' python string.']

In [85]:
# split() - by default spaces
ab.split()

['this', 'is', 'string.', 'this', 'is', 'python', 'string.']

In [86]:
# rsplit(item)

ab.rsplit('py')

['this is string. this is ', 'thon string.']

In [87]:
# swapcase() - converts lower cases to upper and upper to lower

name.swapcase()

'TRUPTI'

In [88]:
'TrUpTi'.swapcase()

'tRuPtI'

In [89]:
# zfill(num) - fill the string with zeros from left

a = '50'
b = '50000'

a.zfill(5)

'00050'

In [90]:
b.zfill(5)

'50000'

## List

In [1]:
print( dir(list) )

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [2]:
# append(item) - add new item at the end of list

# homo...
mylist = [1, 2, 3, 4, 5] #int type list
mylist2 = ['one','two','three','four','five'] # string type list

# hetro...
h = [1,6,5,'strings']

In [3]:
type(mylist)

list

In [4]:
mylist.append(6)

In [5]:
mylist

[1, 2, 3, 4, 5, 6]

In [6]:
mylist.append(mylist)

In [7]:
mylist

[1, 2, 3, 4, 5, 6, [...]]

In [8]:
print(mylist)

[1, 2, 3, 4, 5, 6, [...]]

In [9]:
# pop() - bydefault remove last item from the list if no position passed
# pop(index_num) - remove item from specified position or index number

mylist.pop()

[1, 2, 3, 4, 5, 6]

In [10]:
mylist

[1, 2, 3, 4, 5, 6]

In [11]:
mylist.pop(3) # passed position and return removed item

4

In [12]:
mylist

[1, 2, 3, 5, 6]

In [13]:
# insert(position, new_item) - insert a new item at specific position in the list

mylist.insert(3, 1)

In [14]:
mylist

[1, 2, 3, 1, 5, 6]

In [15]:
# remove(item) - remove specific item from the list

mylist.remove(5)

In [16]:
mylist.remove(4)

ValueError: list.remove(x): x not in list

In [17]:
mylist

[1, 2, 3, 1, 6]

In [18]:
# count(item) - count the item how many?

mylist.count(3)

1

In [19]:
mylist.count(1)

2

In [21]:
mylist2.count('o')

0

In [22]:
# index(item) - check the specific item where it is exist and returns it's position

mylist.index(3)

2

In [23]:
mylist2.index('three')

2

In [24]:
# extend(item) - extend list

mylist.extend( [5] )

In [25]:
mylist

[1, 2, 3, 1, 6, 5]

In [26]:
mylist.extend([6,7,8,9])

In [27]:
mylist

[1, 2, 3, 1, 6, 5, 6, 7, 8, 9]

In [28]:
mylist.extend( 5 )

TypeError: 'int' object is not iterable

In [29]:
mylist2

['one', 'two', 'three', 'four', 'five']

In [30]:
mylist.extend(mylist2)

In [31]:
mylist

[1, 2, 3, 1, 6, 5, 6, 7, 8, 9, 'one', 'two', 'three', 'four', 'five']

In [32]:
# reverse() - reverse the list

mylist.reverse()

In [33]:
mylist

['five', 'four', 'three', 'two', 'one', 9, 8, 7, 6, 5, 6, 1, 3, 2, 1]

In [34]:
# sort() - sort the list in ascending by default or sort(reverse = True) first sort and then reverse

mylist.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [35]:
mylist2

['one', 'two', 'three', 'four', 'five']

In [36]:
mylist2.reverse()

In [37]:
mylist2

['five', 'four', 'three', 'two', 'one']

In [38]:
mylist2.sort()

In [39]:
mylist2

['five', 'four', 'one', 'three', 'two']

In [40]:
mylist2.sort(reverse=True) # sort with reversed

In [41]:
mylist2

['two', 'three', 'one', 'four', 'five']

In [42]:
# copy() - copy to another variable

mylist3 = mylist

In [43]:
mylist3

['five', 'four', 'one', 'three', 'two', 9, 8, 7, 6, 5, 6, 1, 3, 2, 1]

In [44]:
mylist

['five', 'four', 'one', 'three', 'two', 9, 8, 7, 6, 5, 6, 1, 3, 2, 1]

In [45]:
id(mylist)

2493901827720

In [46]:
id(mylist3)

2493901827720

In [47]:
id(mylist) == id(mylist3)

True

In [48]:
mylist.pop()

1

In [49]:
mylist

['five', 'four', 'one', 'three', 'two', 9, 8, 7, 6, 5, 6, 1, 3, 2]

In [50]:
mylist3

['five', 'four', 'one', 'three', 'two', 9, 8, 7, 6, 5, 6, 1, 3, 2]

In [51]:
# clear() - remove all items from the list

mylist3.clear()

In [52]:
mylist3

[]

In [53]:
mylist

[]

In [54]:
mylist = mylist2.copy()

In [55]:
mylist

['two', 'three', 'one', 'four', 'five']

In [56]:
mylist2

['two', 'three', 'one', 'four', 'five']

In [57]:
mylist2.append('six')

In [58]:
mylist2

['two', 'three', 'one', 'four', 'five', 'six']

In [59]:
mylist

['two', 'three', 'one', 'four', 'five']

In [60]:
mylist3

[]

In [61]:
del mylist3 # will deleted mylist3

In [62]:
mylist3

NameError: name 'mylist3' is not defined

In [63]:
# list and string slicing

l = ['a','b','c','d','e','f','g']

In [64]:
l[1]

'b'

In [65]:
l[5]

'f'

In [66]:
l[5] = 'h'

In [67]:
l

['a', 'b', 'c', 'd', 'e', 'h', 'g']

In [68]:
# list_name[start_position : stop_position : steps] - step by default 1

l[ 1 : 5 ]

['b', 'c', 'd', 'e']

In [69]:
l[ 0 : 5 ]

['a', 'b', 'c', 'd', 'e']

In [70]:
l[ 1 : 5 : 2]

['b', 'd']

In [71]:
l[ 0 : 6 : 2]

['a', 'c', 'e']

In [72]:
l[-5]

'c'

In [73]:
l[ 0 : 6 : -2]

[]

In [74]:
l[-1:6:-2]

[]

In [75]:
l[ -1 : ]

['g']

In [76]:
l[-1:-6]

[]

In [77]:
l[ -1: -6: -1 ]

['g', 'h', 'e', 'd', 'c']

In [78]:
l[ -1 : -6 : -2 ]

['g', 'e', 'c']

In [79]:
l[ 0 : 100 ]

['a', 'b', 'c', 'd', 'e', 'h', 'g']

In [80]:
l[-100 : ]

['a', 'b', 'c', 'd', 'e', 'h', 'g']

## Dictionary , dict

In [82]:
print( dir(dict) )

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [83]:
mydict = {
    'name' : 'Trupti',
    'age' : 32,
    'city' : 'Ahmedabad'
}

In [84]:
mydict

{'name': 'Trupti', 'age': 32, 'city': 'Ahmedabad'}

In [85]:
mydict['name']

'Trupti'

In [86]:
myname = mydict['name']

In [87]:
myname

'Trupti'

In [89]:
mydict['name'] = 'Trupti Patel'

In [90]:
mydict

{'name': 'Trupti Patel', 'age': 32, 'city': 'Ahmedabad'}

In [91]:
myname

'Trupti'

In [92]:
# get(key) - get specified value from dict

mydict.get('name')

'Trupti Patel'

In [93]:
mydict.get('age')

32

In [94]:
#items() - returns all keys and values pair in tuple inside a list

mydict.items()

dict_items([('name', 'Trupti Patel'), ('age', 32), ('city', 'Ahmedabad')])

In [95]:
#keys() returns all keys inside a list

mydict.keys()

dict_keys(['name', 'age', 'city'])

In [96]:
#values() - returns all values inside a list

mydict.values()

dict_values(['Trupti Patel', 32, 'Ahmedabad'])

In [97]:
# pop(key) - it takes at least 1 arguments which should be key and it will remove value

mydict.pop()

TypeError: pop expected at least 1 arguments, got 0

In [98]:
mydict.pop('name')

'Trupti Patel'

In [99]:
mydict['name']

KeyError: 'name'

In [100]:
mydict

{'age': 32, 'city': 'Ahmedabad'}

In [101]:
# popitem() - remove last item of dict by default but it takes no arguments

In [102]:
mydict.popitem()

('city', 'Ahmedabad')

In [103]:
mydict

{'age': 32}

In [105]:
mydict.popitem()

('age', 32)

In [106]:
mydict

{}

In [107]:
# setdefault(key)

mydict.setdefault('name')

In [108]:
mydict

{'name': None}

In [111]:
mydict.setdefault('name', 'Trupti')

In [112]:
mydict

{'name': None}

In [113]:
# update(key_value_pair)

mydict.update( {'name':'trupti'} )

In [114]:
mydict

{'name': 'trupti'}

In [115]:
mydict.update('city','Ahmedabad')

TypeError: update expected at most 1 arguments, got 2

In [118]:
mydict.update( ('city','Ahmedabad') )

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [119]:
mydict

{'name': 'trupti'}

In [124]:
# fromkeys(*keys, value)

dict.fromkeys('abcd')

{'a': None, 'b': None, 'c': None, 'd': None}

In [125]:
mydict

{'name': 'trupti'}

In [126]:
l = ['name','city','age']

dict.fromkeys(l)

{'name': None, 'city': None, 'age': None}

In [127]:
dict.fromkeys(l, '---')

{'name': '---', 'city': '---', 'age': '---'}

In [128]:
val = ['trupt patel','ahmedabad', 32]

mydict.fromkeys(l, val)

{'name': ['trupt patel', 'ahmedabad', 32],
 'city': ['trupt patel', 'ahmedabad', 32],
 'age': ['trupt patel', 'ahmedabad', 32]}

## Tuple, tuple

In [1]:
print( dir(tuple) )

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [2]:
tp = (1,2,3,4,5,6,5,2)

In [3]:
type( tp )

tuple

In [4]:
tp.count(1)

1

In [5]:
a = (1,2)

In [6]:
a

(1, 2)

In [7]:
a = list(a)

In [8]:
a

[1, 2]

In [9]:
a.extend([3,4,5,6])

In [10]:
a

[1, 2, 3, 4, 5, 6]

In [11]:
a = tuple(a)

In [12]:
type(a)

tuple

In [13]:
print(a)

(1, 2, 3, 4, 5, 6)

## set

In [1]:
print( dir(set) )

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [2]:
set1 = {1 , 2, 1, 5, 9 ,8}

In [3]:
set1

{1, 2, 5, 8, 9}

In [4]:
set2 = {3,4,6,7,10}

In [5]:
# add(item) - Adds an element to the set

set1.add(3)

In [6]:
set1

{1, 2, 3, 5, 8, 9}

In [7]:
# difference(item) - Returns a set containing the difference between two or more sets

set1.difference(set2)

{1, 2, 5, 8, 9}

In [8]:
# difference_update(another_sets) - Removes the items in this set that are also included in another, specified set

set1.difference_update(set2)

In [9]:
set1

{1, 2, 5, 8, 9}

In [10]:
set2

{3, 4, 6, 7, 10}

In [11]:
dif_update = set1.difference_update(set2)

In [12]:
dif_update

In [13]:
print(dif_update)

None

In [14]:
set2

{3, 4, 6, 7, 10}

In [15]:
set2.difference_update(set1)

In [16]:
set2

{3, 4, 6, 7, 10}

In [3]:
s1 = {'hello',}
s2 = {'hi','hello','where'}

In [4]:
s1

{'hello'}

In [5]:
s2

{'hello', 'hi', 'where'}

In [7]:
s2.difference(s1)

{'hi', 'where'}

In [8]:
set1 = {'hello','hi','how'}
set2 = {'hi','hello','where'}

In [9]:
set1.difference(set2)

{'how'}

In [10]:
# intersection(sets) - Returns a set, that is the intersection of two other sets

set1.intersection(set2)

{'hello', 'hi'}

In [11]:
set1

{'hello', 'hi', 'how'}

In [12]:
# intersection_update(sets) - Removes the items in this set that are not present in other, specified set(s)

set1.intersection_update(set2)

In [13]:
set1

{'hello', 'hi'}

In [14]:
set2

{'hello', 'hi', 'where'}

In [15]:
set1.add('how')

In [16]:
set1

{'hello', 'hi', 'how'}

In [17]:
# isdisjoint(sets) - Returns whether two sets have a intersection or not

set1.isdisjoint(set2)

False

In [18]:
s = {1,2,3}
t = {3,4,5}

s.isdisjoint(t)

False

In [19]:
s = {1,2,3}
t = {4,5,6}

s.isdisjoint(t)

True

In [20]:
# issubset(sets) - Return True if all items in set1 are present in set2

set1.issubset(set2)

False

In [21]:
set1 = {'hello','hi','how'}

In [22]:
set1.issuperset(set2)

False

In [23]:
{'hello'}.issubset(set1)

True

In [24]:
set1.issuperset({'hello'})

True

In [25]:
# pop() - Removes an element from the set

set1.pop()

'how'

In [26]:
set1.pop()

'hi'

In [27]:
set1 = {'hello','hi','how'}

In [28]:
# remove(item) - Removes the specified item from the set

set1.remove('hi')

In [29]:
set1

{'hello', 'how'}

In [30]:
# symmetric_difference(sets) - Returns a set with the symmetric differences of two sets

set1.symmetric_difference(set2)

{'hi', 'how', 'where'}

In [31]:
set2

{'hello', 'hi', 'where'}

In [32]:
# symmetric_difference_update() - inserts the symmetric differences from this set and another

set1.symmetric_difference_update(set2)

In [33]:
set1

{'hi', 'how', 'where'}

In [34]:
# union(set) - Return a set containing the union of sets

set1.union(set2)

{'hello', 'hi', 'how', 'where'}

In [35]:
set1

{'hi', 'how', 'where'}

In [36]:
# update(sets) - Update the set with the union of this set and others

set1.update(set2)

In [37]:
set1

{'hello', 'hi', 'how', 'where'}

In [40]:
# discard(item) - Remove the specified item

set1.discard("hi")

In [41]:
set1

{'hello', 'how', 'where'}

In [42]:
set1.discard('hello')

In [43]:
set1

{'how', 'where'}

In [44]:
frz = [1,2,3]

frz = frozenset(frz)

In [45]:
type(frz)

frozenset

In [46]:
frz

frozenset({1, 2, 3})

In [47]:
print(frz)

frozenset({1, 2, 3})

In [48]:
# boolean True and False

In [49]:
type(True)

bool

In [50]:
type(False)

bool