# Database in Python

## What is DBMS?
* ### A set of programs to access the interrelated data.
* ### DBMS contains informations about a particular enterprise.
* ### Computerized record keeping system.
* ### Provides convenient environment to user to perform operations:
    - DB Creation
    - Insertion
    - Deletion
    - Updating
    - Retrieval of information

### Alternate definition of Database and Database Management System

#### Database: An integrated collection of more-or-less permanent data.

#### DBMS: A software package/system  to facilitate the creation and maintenance of a computerized database.

### Components of Database System

* ### Users- People who interact with the database:
    - Application Programmers.
    - End Users.
    - Data Administrators.
    
* ### Software- Lies between the stored data and the users:
    - DBMS
    - Application Software
    - User Interface
    
                                            Users
                                             ||
                                             ||
                                  ___________||___________
                                 |                        |
          Data ------------------| COMPONENTS OF DATABASE |--------------------| Software
                                 |___________  ___________|
                                             ||
                                             ||
                                             ||
                                          Hardware
                                  
                                  
#### Follow the steps to use SQLite3 database:
    - import sqlite3 as mydb
    - db = sql.connect("database_name.db")
    - cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
    - cursor = db.cursor()
    - cursor.execute(cmd)

#### Follow the steps to use MySQL database:
    - import pymysql as sql
    - db = sql.connect(host='localhost', port=3306, user='root', password='', database='data')
    - c = db.cursor()
    - cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
    - c.execute(cmd)
    - db.commit()
    
   #### Note: A Local Server called MySQL server is required to connect MySQL. Here, we are using XAMPP Server.
   
### Some Meanings about DB

### What is Cursor()?
    - A database cursor is a control structure that enables traversal over the records in a database. Cursors facilitate subsequent processing in conjunction with the traversal, such as retrieval, addition and removal of database records.
    
### What is execute()?
    - Executes a command string or character string within a Transact-SQL batch, or one of the following modules: system stored procedure, user-defined stored procedure, CLR stored procedure, scalar-valued user-defined function, or extended stored procedure.
    
### What is Commit()?
    - A commit is the updating of a record in a database. In the context of a database transaction, a commit refers to the saving of data permanently after a set of tentative changes. A commit ends a transaction within a relational database and allows all other users to see the changes.

# SQL Statements

* ## Creates a new database
    - #### CREATE DATABASE "database_name";
* ## Creates a new table
    - #### CREATE TABLE table_name (column1 datatype, column2 datatype, column3 datatype, ....);
* ## Extracts data from a database
    - #### SELECT * FROM "database_name"; or SELECT "field_name" FROM "database_name";
* ## Inserts new data into a database
    - #### INSERT INTO table_name (column1, column2, column3) VALUES (value1, value2, value3);
    #### or
    - #### INSERT INTO table_name VALUES (value1, value2, value3);
* ## Alter table
    - #### ALTER TABLE table_name ADD column_name datatype;
* ## Updates data in a database
    - #### UPDATE table_name SET column1 = value1, column2 = value2, ... WHERE condition;
* ## Deletes data from a database
    - #### DELETE FROM table_name WHERE condition;
* ## Deletes a table
    - #### DROP TABLE table_name;
* ## Creates an index (search key)
    - #### CREATE INDEX index_name ON table_name (column1, column2, ...);
    #### or
    - #### CREATE UNIQUE INDEX index_name ON table_name (column1, column2, ...);
    ##### Note: The CREATE INDEX statement is used to create indexes in tables.
* ## Deletes an index
    - #### ALTER TABLE table_name DROP INDEX index_name;

### SQLite3

In [1]:
# import sqlite3

import sqlite3 as mydb

In [3]:
db = mydb.connect("mydatabase.db")

In [4]:
cmd = "create table users(email varchar(300) primary key, fname varchar(300), sname varchar(300), password varchar(500))"

In [5]:
cursor = db.cursor()

In [6]:
cursor.execute(cmd)

In [7]:
# insert data into table 'users'

insert_cmd = "insert into users values ('jackson@gmail.com','jackson','das','imjack')"

In [8]:
cursor.execute(insert_cmd)

In [9]:
# get db data

get_cmd = "select * from users"

In [10]:
cursor.execute(get_cmd)

In [11]:
data = cursor.fetchall()

In [12]:
data

[('jackson@gmail.com', 'jackson', 'das', 'imjack')]

In [17]:
# update data

update_cmd = "update users set password='imjack@123456' where email='jackson@gmail.com'"

cursor.execute(update_cmd)

In [18]:
# check again, your data updated or not

cursor.fetchall()

[]

In [19]:
cmd = "select password from users"

In [20]:
cursor.execute(cmd)

In [22]:
cursor.fetchall()

[('imjack@123456',)]

### MySQL

In [1]:
import pymysql as sql

In [2]:
db = sql.connect(host='localhost', port=3306, user='root')

In [3]:
create_db = "create database jupyterDb character set 'utf8'"

In [4]:
cur = db.cursor()

In [6]:
cur.execute(create_db)

1

In [7]:
cur.execute('show databases')

20

In [8]:
use_db = 'use jupyterDB;'

cur.execute(use_db)

0

In [9]:
show_tables = 'show tables'

cur.execute(show_tables)

0

In [10]:
create_table = "create table mytable (name varchar(20), age varchar(20))"

In [11]:
cur.execute(create_table)

0

In [12]:
insert_data = "insert into mytable (name, age) values('jackson', '22')"

In [13]:
cur.execute(insert_data)

1

In [3]:
select_data = "select * from mytable;"

cur.execute(select_data)

data = cur.fetchall()

In [4]:
data

()

In [30]:
data[0][0]

IndexError: tuple index out of range

In [1]:
try :
    import pymysql as sql
    db_name = input('Enter database name: ')
    db = sql.connect(host='localhost', port=3306, user='root', database=db_name)
    cur = db.cursor()
    table_name = input('Enter table name: ')
    cmd = 'select * from {}'.format(table_name)
    cur.execute(cmd)
    data = cur.fetchall()
    if len(data):
        print(data)
    else:
        name = input('Enter your name: ')
        age = input('Enter your age: ')
        insert_data = "insert into mytable (name, age) values({}, {})".format(name, age)
        cur.execute(insert_data)
        select_data = "select * from mytable"
        cur.execute(select_data)
        data = cur.fetchall()
        print(data)
except Exception as e :
    print("Error !!! ", e)

Enter database name: jupyterdb
Enter table name: mytable
Enter your name: jackson
Enter your age: 22
Error !!!  (1054, "Unknown column 'jackson' in 'field list'")

In [8]:
insert_data = "insert into mytable (name, age) values('jackson', '22')"
cur.execute(insert_data)

1

In [2]:
cur.execute('select * from mytable')
cur.fetchall()

()