## Data Types

* ### 1. Numbers
* ### 2. String
* ### 3. List
* ### 4. Tuple
* ### 5. Dictionary
* ### 6. Set
* ### 7. Frozen Set
* ### 8. Boolean

## Numbers

* ### integer -- 0-9 everything is number
* ### float -- 1.9, 1.0 etc..
* ### complex -- 1 + 1j

## integer

In [1]:
print( dir(int) )

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [2]:
a = 8
a.bit_length()

4

In [3]:
comp = 1 + 1j

In [4]:
type( a )

int

In [5]:
type( comp )

complex

In [6]:
comp.real

1.0

In [8]:
comp.imag

1.0

In [7]:
a.numerator

8

In [8]:
a.denominator

1

## Strings

In [11]:
print( dir(str) )

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
print( "Hello", "World", 'Hello', "world", sep="\n")

Hello
World
Hello
world

In [19]:
print(str.__doc__)

str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

In [9]:
# capitalize() change first letter to capital

name = 'jackson'

In [10]:
name

'jackson'

In [22]:
print(name)

jackson

In [11]:
name.capitalize()

'Jackson'

In [24]:
name = name.capitalize()

In [25]:
print(name)

Jackson

In [12]:
# casefold() change whole string to small

name = name.casefold()

In [13]:
print(name)

jackson

In [14]:
# lower() change whole string to small

name = name.capitalize()

In [15]:
name

'Jackson'

In [16]:
name = name.lower()

In [17]:
name

'jackson'

In [33]:
# center(num) center the string from both side left and right

name.center(100)

'                                              jackson                                               '

In [34]:
# ljust(num) justified the string to left

name.ljust(100)

'jackson                                                                                             '

In [35]:
# rjust(num) justified the string to right

name.rjust(100)

'                                                                                             jackson'

In [36]:
# count() count the specific substring/single letter etc.. and return the total number

name.count('j')

1

In [37]:
name.encode()

b'jackson'

In [38]:
# endswith(str) check the ending values and returns True or False

name.endswith('o')

False

In [39]:
name.endswith('n')

True

In [40]:
# startswith(str) check the first value of the string and returns True or False

name.startswith('a')

False

In [41]:
name.startswith('j')

True

In [42]:
# expandtabs() replace \t with actual spaces according single tab

my_string = "Hello,\tHow are you?"

my_string

'Hello,\tHow are you?'

In [43]:
print(my_string)

Hello,	How are you?

In [44]:
my_string.expandtabs()

'Hello,  How are you?'

In [45]:
my_string = my_string.expandtabs()

In [46]:
my_string

'Hello,  How are you?'

In [47]:
# find(str) find the specific string given in argument and returns index value

my_string.find('are')

12

In [48]:
my_string.find(' ')

6

In [49]:
my_string.count(' ')

4

In [50]:
name

'jackson'

In [51]:
# format(arg..,)

print( f"Hello, this is {name}." )

Hello, this is jackson.

In [52]:
sname = "Das"

print("Hello, this is {} {}.".format(name, sname))

Hello, this is jackson Das.

In [53]:
print("Hello, this is {1} {0}.".format(name, sname))

Hello, this is Das jackson.

### continue.. 02-oct-2019

In [1]:
# index(item) returns the index value of given item

name = "Jackson"

name.index('a')

1

In [2]:
name = "Jackson Das"

name.index('Das')

8

In [5]:
# isalnum() returns True or False if found any alphabate or numbers in the string

al_num = 'jackson18'

al_num.isalnum()

True

In [6]:
al_num = 'jackson'

al_num.isalnum()

True

In [7]:
num = "889445"

num.isalnum()

True

In [8]:
# isalpha() check the string and returns True or False if entire string is aphabate

al = 'Jackson18'

al.isalpha()

False

In [9]:
al = 'Jackson'

al.isalpha()

True

In [11]:
asc = '65'

asc.isascii()

True

In [15]:
chr(65)

'A'

In [20]:
# isdecimal() check weather string decimal or not

num = '65.5'

num.isdecimal()

False

In [21]:
num = '65'

num.isdecimal()

True

In [22]:
# isdigit()

num.isdigit()

True

In [23]:
num = '5'

num.isdigit()

True

In [24]:
# isidentifier()

num.isidentifier()

False

In [25]:
'jackson das'.isidentifier()

False

In [26]:
'jackson_das'.isidentifier()

True

In [27]:
'0jackson_das'.isidentifier()

False

In [28]:
name

'Jackson Das'

In [29]:
# islower() check the entire string weather it is in lowercase or not

name.islower()

False

In [30]:
name.lower().islower()

True

In [31]:
# isnumeric() check entire string weather it is numeric or not

'85jack'.isnumeric()

False

In [32]:
'88'.isnumeric()

True

In [33]:
# isprintable()

name.isprintable()

True

In [34]:
# isspace() check the entire string and return True if whole string is space otherwise returns False

name.isspace()

False

In [35]:
' '.isspace()

True

In [36]:
# title() converts entire string's first letter to capital

name.title()

'Jackson Das'

In [37]:
'jackson das'.title()

'Jackson Das'

In [38]:
# istitle() check entire string weather each word capitalize or not

name.istitle()

True

In [39]:
'jackson das'.istitle()

False

In [40]:
# upper() converts all letter to capital in string

name.upper()

'JACKSON DAS'

In [41]:
# isupper() check entire string and returns True or False if string is in UPPERCASE

name.isupper()

False

In [42]:
'JACKSON DAS'.isupper()

True

In [43]:
# join(iterable) join any iterable items with specifice item/string/comma etc.

a = ','

b = 'abcd'

a.join(b)

'a,b,c,d'

In [44]:
# strip() remove the white spaces from left and right of the string

ab = '   hello this is python string       '

ab.strip()

'hello this is python string'

In [45]:
# lstrip() remove spaces from left of the string

ab.lstrip()

'hello this is python string       '

In [46]:
# rstrip() remove spaces from right of the string

ab.rstrip()

'   hello this is python string'

In [47]:
# partition(item) partition from given item as argument and returns a tuple

ab = 'this is string. this is python string.'

ab.partition('is')

('th', 'is', ' is string. this is python string.')

In [49]:
# rpartition(item) partition from right.

ab.rpartition('is')

('this is string. this ', 'is', ' python string.')

In [52]:
# split(item) devide from given item as argument and return the list.

ab.split('is')

['th', ' ', ' string. th', ' ', ' python string.']

In [53]:
ab.split()

['this', 'is', 'string.', 'this', 'is', 'python', 'string.']

In [56]:
# rsplit(item)

ab.rsplit('py')

['this is string. this is ', 'thon string.']

In [57]:
# swapcase() converts lower cases to upper and upper to lower

name.swapcase()

'jACKSON dAS'

In [58]:
# zfill(num) fill the string with zeros from left

a = '50'
b = '50000'

a.zfill(5)

'00050'

In [59]:
b.zfill(5)

'50000'

## List

In [1]:
print( dir(list) )

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [2]:
# append(item) add new item at the end of list

mylist = [1, 2, 3, 4, 5] #int type list
mylist2 = ['one','two','three','four','five'] # string type list

In [3]:
type(mylist)

list

In [4]:
mylist.append(6)

In [5]:
mylist

[1, 2, 3, 4, 5, 6]

In [6]:
mylist.append(mylist)

In [7]:
mylist

[1, 2, 3, 4, 5, 6, [...]]

In [8]:
print(mylist)

[1, 2, 3, 4, 5, 6, [...]]

In [9]:
# pop() bydefault remove last item from the list if no position passed

mylist.pop()

[1, 2, 3, 4, 5, 6]

In [10]:
mylist

[1, 2, 3, 4, 5, 6]

In [11]:
mylist.pop(3)

4

In [12]:
mylist

[1, 2, 3, 5, 6]

In [13]:
# insert(position, new_item) insert a new item at specific position in the list

mylist.insert(3, 1)

In [14]:
mylist

[1, 2, 3, 1, 5, 6]

In [15]:
# remove(item) remove specific item from the list

mylist.remove(5)

In [16]:
mylist

[1, 2, 3, 1, 6]

In [17]:
# count(item) count the item how many?

mylist.count(3)

1

In [18]:
mylist.count(1)

2

In [20]:
mylist2.count('o')

0

In [21]:
# index(item) check the specific item where it is exist and returns it's position

mylist.index(3)

2

In [22]:
mylist2.index('three')

2

In [24]:
# extend(item) extend list

mylist.extend([5])

In [25]:
mylist

[1, 2, 3, 1, 6, 5]

In [26]:
mylist.extend([6,7,8,9])

In [27]:
mylist

[1, 2, 3, 1, 6, 5, 6, 7, 8, 9]

In [28]:
mylist2

['one', 'two', 'three', 'four', 'five']

In [29]:
mylist.extend(mylist2)

In [30]:
mylist

[1, 2, 3, 1, 6, 5, 6, 7, 8, 9, 'one', 'two', 'three', 'four', 'five']

In [31]:
# reverse() reverse the list

mylist.reverse()

In [32]:
mylist

['five', 'four', 'three', 'two', 'one', 9, 8, 7, 6, 5, 6, 1, 3, 2, 1]

In [33]:
# sort() sort the list in ascending by default or sort(reverse = True) first sort and then reverse

mylist.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [34]:
mylist2

['one', 'two', 'three', 'four', 'five']

In [35]:
mylist2.reverse()

In [36]:
mylist2

['five', 'four', 'three', 'two', 'one']

In [37]:
mylist2.sort()

In [38]:
mylist2

['five', 'four', 'one', 'three', 'two']

In [39]:
mylist2.sort(reverse=True) # sort with reversed

In [40]:
mylist2

['two', 'three', 'one', 'four', 'five']

In [41]:
# copy() copy to another variable

mylist3 = mylist

In [42]:
mylist3

['five', 'four', 'one', 'three', 'two', 9, 8, 7, 6, 5, 6, 1, 3, 2, 1]

In [43]:
mylist

['five', 'four', 'one', 'three', 'two', 9, 8, 7, 6, 5, 6, 1, 3, 2, 1]

In [44]:
id(mylist)

1564288560968

In [45]:
id(mylist3)

1564288560968

In [46]:
id(mylist) == id(mylist3)

True

In [47]:
mylist.pop()

1

In [48]:
mylist

['five', 'four', 'one', 'three', 'two', 9, 8, 7, 6, 5, 6, 1, 3, 2]

In [49]:
mylist3

['five', 'four', 'one', 'three', 'two', 9, 8, 7, 6, 5, 6, 1, 3, 2]

In [50]:
# clear() remove all items from the list

mylist3.clear()

In [51]:
mylist3

[]

In [52]:
mylist

[]

In [53]:
mylist = mylist2.copy()

In [54]:
mylist

['two', 'three', 'one', 'four', 'five']

In [55]:
mylist2

['two', 'three', 'one', 'four', 'five']

In [56]:
mylist2.append('six')

In [57]:
mylist2

['two', 'three', 'one', 'four', 'five', 'six']

In [58]:
mylist

['two', 'three', 'one', 'four', 'five']

In [1]:
# list and string slicing

l = ['a','b','c','d','e','f','g']

In [2]:
l[1]

'b'

In [3]:
l[5]

'f'

In [4]:
l[5] = 'h'

In [5]:
l

['a', 'b', 'c', 'd', 'e', 'h', 'g']

In [6]:
l[0:2]

['a', 'b']

In [7]:
l[0:5]

['a', 'b', 'c', 'd', 'e']

In [8]:
l[0:4:2]

['a', 'c']

In [9]:
l[0:6:2]

['a', 'c', 'e']

In [10]:
l[-5]

'c'

In [11]:
l[0:6:-2]

[]

In [12]:
l[-1:6:-2]

[]

In [13]:
l[-1:]

['g']

In [14]:
l[-1:-6]

[]

In [17]:
l[-1:-6:-1]

['g', 'h', 'e', 'd', 'c']

In [18]:
l[-1:-6:-2]

['g', 'e', 'c']

In [19]:
l[0:100]

['a', 'b', 'c', 'd', 'e', 'h', 'g']

In [22]:
l[-100:]

['a', 'b', 'c', 'd', 'e', 'h', 'g']

## Dictionary , dict

In [23]:
print( dir(dict) )

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [24]:
mydict = {
    'name' : 'Jackson',
    'age' : 20,
    'city' : 'Ahmedabad'
}

In [25]:
mydict

{'name': 'Jackson', 'age': 20, 'city': 'Ahmedabad'}

In [26]:
mydict['name']

'Jackson'

In [27]:
myname = mydict['name']

In [28]:
myname

'Jackson'

In [29]:
mydict['name'] = 'Jackson Das'

In [30]:
mydict

{'name': 'Jackson Das', 'age': 20, 'city': 'Ahmedabad'}

In [31]:
myname

'Jackson'

In [32]:
# get(key) get specified value from dict

mydict.get('name')

'Jackson Das'

In [33]:
mydict.get('age')

20

In [34]:
#items() returns all keys and values pair in tuple inside a list

mydict.items()

dict_items([('name', 'Jackson Das'), ('age', 20), ('city', 'Ahmedabad')])

In [35]:
#keys() returns all keys inside a list

mydict.keys()

dict_keys(['name', 'age', 'city'])

In [36]:
#keys() returns all values inside a list

mydict.values()

dict_values(['Jackson Das', 20, 'Ahmedabad'])

In [37]:
# pop(key) it takes at least 1 arguments which should be key and it will remove value

mydict.pop()

TypeError: pop expected at least 1 arguments, got 0

In [38]:
mydict.pop('name')

'Jackson Das'

In [39]:
mydict['name']

KeyError: 'name'

In [40]:
mydict

{'age': 20, 'city': 'Ahmedabad'}

In [41]:
# popitem() remove last item of dict by default but it takes no arguments

KeyError: 20

In [42]:
mydict.popitem()

('city', 'Ahmedabad')

In [43]:
mydict

{'age': 20}

In [44]:
mydict.popitem('age')

TypeError: popitem() takes no arguments (1 given)

In [45]:
mydict.setdefault('hello')

In [46]:
mydict

{'age': 20, 'hello': None}

In [47]:
mydict.setdefault('hello','hi')

In [48]:
mydict

{'age': 20, 'hello': None}

In [49]:
mydict.setdefault('hello':'hi')

SyntaxError: invalid syntax (<ipython-input-49-1af9e907d5ea>, line 1)

In [51]:
# update(key_value_pair)

mydict.update({'name':'Jackson Das'})

In [52]:
mydict

{'age': 20, 'hello': None, 'name': 'Jackson Das'}

In [53]:
mydict.update('city','Ahmedabad')

TypeError: update expected at most 1 arguments, got 2

In [54]:
mydict

{'age': 20, 'hello': None, 'name': 'Jackson Das'}

In [55]:
mydict.fromkeys('name')

{'n': None, 'a': None, 'm': None, 'e': None}

In [56]:
l = ['ip','code','xyz']
mydict.fromkeys(l)

{'ip': None, 'code': None, 'xyz': None}

In [57]:
mydict.fromkeys(l, 'a')

{'ip': 'a', 'code': 'a', 'xyz': 'a'}

In [58]:
key = ['ip','code','xyz']
val = ['20.45.46.0','854S','other']

mydict.fromkeys(key, val)

{'ip': ['20.45.46.0', '854S', 'other'],
 'code': ['20.45.46.0', '854S', 'other'],
 'xyz': ['20.45.46.0', '854S', 'other']}

## Tuple, tuple

In [1]:
print( dir(tuple) )

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [2]:
tp = (1,2,3,4,5,6,5,2)

In [3]:
type(tp)

tuple

In [4]:
tp.count(1)

1

In [5]:
a = (1,2)

In [6]:
a

(1, 2)

In [7]:
a = list(a)

In [8]:
a

[1, 2]

In [9]:
a.extend([3,4,5,6])

In [10]:
a

[1, 2, 3, 4, 5, 6]

In [11]:
a = tuple(a)

In [12]:
type(a)

tuple

In [13]:
print(a)

(1, 2, 3, 4, 5, 6)

## Sets, set

In [14]:
print( dir(set) )

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [18]:
set1 = {1 , 2, 1, 5, 9 ,8}

In [19]:
set1

{1, 2, 5, 8, 9}

In [20]:
set2 = {3,4,6,7,10}

In [23]:
# add(item) Adds an element to the set

set1.add(3)

In [24]:
set1

{1, 2, 3, 5, 8, 9}

In [25]:
# difference(item) Returns a set containing the difference between two or more sets

set1.difference(set2)

{1, 2, 5, 8, 9}

In [26]:
# difference_update(another_sets) Removes the items in this set that are also included in another, specified set

set1.difference_update(set2)

In [27]:
set1

{1, 2, 5, 8, 9}

In [28]:
set2

{3, 4, 6, 7, 10}

In [29]:
dif_update = set1.difference_update(set2)

In [30]:
dif_update

In [31]:
print(dif_update)

None

In [32]:
set2

{3, 4, 6, 7, 10}

In [33]:
set2.difference_update(set1)

In [34]:
set2

{3, 4, 6, 7, 10}

In [49]:
set1 = {'hello'}
set2 = {'hi','hello','where'}

set1.difference_update(set2)

In [36]:
set1

{'how'}

In [38]:
set1

{'how'}

In [39]:
set1 = {'hello','hi','how'}
set2 = {'hi','hello','where'}

In [40]:
# intersection(sets) Returns a set, that is the intersection of two other sets

set1.intersection(set2)

{'hello', 'hi'}

In [41]:
set1

{'hello', 'hi', 'how'}

In [42]:
# intersection_update(sets) Removes the items in this set that are not present in other, specified set(s)

set1.intersection_update(set2)

In [43]:
set1

{'hello', 'hi'}

In [44]:
set2

{'hello', 'hi', 'where'}

In [45]:
set1.add('how')

In [46]:
set1

{'hello', 'hi', 'how'}

In [47]:
# isdisjoint(sets) Returns whether two sets have a intersection or not

set1.isdisjoint(set2)

False

In [50]:
# issubset(sets) Return True if all items in set1 are present in set2

set1.issubset(set2)

True

In [51]:
set1 = {'hello','hi','how'}

In [52]:
set1.issuperset(set2)

False

In [53]:
# pop(item) Removes an element from the set

set1.pop()

'how'

In [54]:
set1.pop()

'hello'

In [55]:
set1 = {'hello','hi','how'}

In [57]:
# remove(item) Removes the specified item from the set

set1.remove('hi')

In [58]:
set1

{'hello', 'how'}

In [59]:
# symmetric_difference(sets) Returns a set with the symmetric differences of two sets

set1.symmetric_difference(set2)

{'hi', 'how', 'where'}

In [60]:
# symmetric_difference_update() inserts the symmetric differences from this set and another

set1.symmetric_difference_update(set2)

In [61]:
set1

{'hi', 'how', 'where'}

In [63]:
# union(set) Return a set containing the union of sets

set1.union(set2)

{'hello', 'hi', 'how', 'where'}

In [64]:
set1

{'hi', 'how', 'where'}

In [65]:
# update(sets) Update the set with the union of this set and others

set1.update(set2)

In [66]:
set1

{'hello', 'hi', 'how', 'where'}

In [67]:
# discard(item) Remove the specified item

set1.discard(0)

In [68]:
set1

{'hello', 'hi', 'how', 'where'}

In [69]:
set1.discard('hello')

In [70]:
set1

{'hi', 'how', 'where'}

In [71]:
frz = [1,2,3]

frz = frozenset(frz)

In [72]:
type(frz)

frozenset

In [73]:
frz

frozenset({1, 2, 3})

In [74]:
print(frz)

frozenset({1, 2, 3})

In [75]:
# boolean True and False

In [76]:
type(True)

bool

In [77]:
type(False)

bool